psutil
termcolor
tensorboard
tensorboardX
tianshou
imageio
imageio-ffmpeg
egl_probe>=1.0.1
diffusers
hydra-core==1.2.0
wandb
easydict==1.9 
einops==0.4.1
thop==0.1.1-2209072238
robosuite==1.4.0
bddl==1.0.1
future==0.18.2 
cloudpickle==2.1.0
gym==0.25.2
